
<div class="signup-section h-100 d-flex align-items-center">
    <div class="container h-100">
      <div class="row w-100">
          <div class="col-2 offset-5 justify-content-center">
            <img src="../../../assets/images/ethos_logo.png" width="100%" />
          </div>
      </div>  
      <div class="row w-100">
          <div class="col-4 offset-4 justify-content-center">
              <div class="card signup-card shadow">
                  <div class="card-body">
                    <h4 class="card-title font-montserrat card-head">Login</h4>
                    <hr>
                    <form [formGroup]="loginForm" (ngSubmit)= 'onSubmit()' novalidate autocomplete="off">
                        <div class="mb-3">
                            <label for="phoneInput" class="form-label">Mobile Number</label>
                            <input type="tel" class="form-control" id="phoneInput" name="phoneInput" placeholder="Enter Mobile Number" [class.is-invalid]="phone!.invalid && phone!.touched" formControlName="phone"/>
                            <div *ngIf="phone!.invalid && phone!.touched">
                                <small *ngIf="phone?.hasError('required')" class="text-danger">Phone is Required<br></small>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="passwordInput" name="passwordInput" [class.is-invalid]="password!.invalid && password!.touched" placeholder="Password" formControlName="password" />
                            <div *ngIf="password!.invalid && password!.touched">
                                <small *ngIf="password?.hasError('required')" class="text-danger">Password is Required<br></small>
                            </div>
                        </div>
                        <button type="submit" class="btn w-100 btn-black text-white" [disabled] = 'loginForm.invalid'
                                ><b>Submit</b></button>
                    </form> 
                    <hr class="my-3">
                    <div>
                        <p class="login-instead-text font-montserrat mb-0">Already a Customer?&nbsp;<a
                                class="text-decoration-none" routerLink="../signup">Create Account</a>
                        </p>
                    </div>   
                  </div>
              </div>
          </div>
      </div>  
    </div>
</div>
