<div class="abtus w-100 mt-5">
    <div class="container w-100 py-5">
      <div class="row w-100 mx-0">
        <div class="col-4 offset-1 d-flex justify-content-start">
          <p class="abtus-heading">STORIES, STYLES AND SPORTSWEAR AT ETHOS</p>
        </div>
        <div class="col-4 offset-2 d-flex justify-content-start">
          <p class="abtus-heading">WORKOUT CLOTHES, FOR ANY SPORT</p>
        </div>
      </div>
      <div class="row w-100 mx-0">
        <div class="col-4 offset-1 d-flex justify-content-start">
          <p class="abtus-content text-break text-wrap">Sport keeps us fit. Keeps you mindful. Brings us together.
            Through sport we have the power to change lives. Whether it is through stories of inspiring athletes.
            Helping you to get up and get moving. Sportswear featuring the latest technologies, to up your performance.
            Beat your PB. adidas offers a home to the runner, the basketball player, the soccer kid, the fitness
            enthusiast. The weekend hiker that loves to escape the city. The yoga teacher that spreads the moves. The
            3-Stripes are seen in the music scene. On stage, at festivals. Our sports clothing keeps you focused before
            that whistle blows. During the race. And at the finish lines. We’re here to support creators. Improve their
            game. Their lives. And change the world.</p>
        </div>
        <div class="col-4 offset-2 d-flex justify-content-start">
          <p class="abtus-content">ethos designs for and with athletes of all kinds. Creators, who love to change the
            game. Challenge conventions. Break the rules and define new ones. Then break them again. We supply teams and
            individuals with athletic clothing pre-match. To stay focussed. We design sports apparel that get you to the
            finish line. To win the match. We support women, with bras and tights made for purpose. From low to high
            support. Maximum comfort. We design, innovate and itterate. Testing new technologies in action. On the
            pitch, the tracks, the court, the pool. Retro workout clothes inspire new streetwear essentials. Like NMD,
            Ozweego and our Firebird tracksuits. Classic sports models are brought back to life. Like Stan Smith. And
            Superstar. Now seen on the streets and the stages.</p>
        </div>
      </div>
      <div class="row w-100 mx-0">
        <div class="col-4 offset-1 d-flex justify-content-start">
          <p class="abtus-content text-break text-wrap">ethos is about more than sportswear and workout clothes. We
            partner with the best in the industry to co-create. This way we offer our fans the sports apparel and style
            that match their athletic needs, while keeping sustainability in mind. We’re here to support creators.
            Improve their game. Create change. And we think about the impact we have on our world.</p>
        </div>
        <div class="col-4 offset-2 d-flex justify-content-start">
          <p class="abtus-content">Through our collections we blur the borders between high fashion and high
            performance. Like our adidas by Stella McCartney athletic clothing collection – designed to look the part
            inside and outside of the gym. Or some of our adidas Originals lifestyle pieces, that can be worn as
            sportswear too. Our lives are constantly changing. Becoming more and more versatile. And adidas designs with
            that in mind.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="pre-footer">
    <div class="container w-100 pt-4 pb-4">
      <div class="row w-100 mx-0">
        <div class="col offset-1 text-dark">
          <p class="footer-category-head">Products</p>
        </div>
        <div class="col">
          <p class="footer-category-head">Sports</p>
        </div>
        <div class="col">
          <p class="footer-category-head">Collection</p>
        </div>
        <div class="col">
          <p class="footer-category-head">Support</p>
        </div>
      </div>
      <div class="row w-100 mx-0 text-muted">
        <div class="col offset-1">
          <ul class="list-unstyled footer-nav-list">
            <li>Footwear</li>
            <li>Clothing</li>
            <li>Accessories</li>
          </ul>
        </div>
        <div class="col">
          <ul class="list-unstyled footer-nav-list">
            <li>Running</li>
            <li>Football</li>
            <li>Gym/Training</li>
            <li>Tennis</li>
            <li>Outdoor</li>
            <li>Basketball</li>
            <li>Swimming</li>
          </ul>
        </div>
        <div class="col">
          <ul class="list-unstyled footer-nav-list">
            <li>Ultraboost</li>
            <li>Superstart</li>
            <li>NMD</li>
            <li>Stan Smith</li>
            <li>Sustainability</li>
            <li>Predator</li>
            <li>Parley</li>
            <li>adicolor</li>
          </ul>
        </div>
        <div class="col">
          <ul class="list-unstyled footer-nav-list">
            <li>Help</li>
            <li>Customer Serevices</li>
            <li>Returns & Exchanges</li>
            <li>Shipping</li>
            <li>Order Tracker</li>
            <li>Terms & Conditions</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer w-100">
    <div class="container w-100">
      <div class="row w-100 mx-0">
        <div class="col-4">
          <p class="footer-content-text mt-3 ps-3"><span class="copyright-icon">&#169;</span> 2021 ethos India Marketing
            Pvt. Ltd</p>
        </div>
        <div class="col-5 offset-3 d-flex justify-content-end">
          <p class="footer-content-text mt-3 text-monospace"><a class="text-decoration-none footer-content-text"
              href="#">Privacy Policy</a> | <a class="text-decoration-none footer-content-text" href="#">Terms and
              Conditions</a> | <a class="text-decoration-none footer-content-text" href="#">Cookies</a></p>
        </div>
      </div>
    </div>
  </div>
