<div class="landing-wrapper w-100">
  <div class="container w-100 px-1 mb-5">
    <div class="row w-100 mx-0">
      <div class="col-12 px-0">
        <div id="carouselControl" class="carousel slide " data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
              <img src="../../assets/images/slider-pic1.jpeg" class="d-block w-100 pb-1" height="730px" alt="...">
              <div class="carousel-caption">
                <h1 class="carousel-caption-content">Find Sportswear <br> at amazingly <br> affordable rates</h1>
                <h6 class="carousel-text-content mt-2">Get extra 15% off on orders above INR 2999.</h6>
                <button class="btn btn-white rounded-0 carousel-content-btn text-dark mt-3">Shop Now <i
                    class="fa fa-arrow-right"></i></button>
                <div class="carousel-btn-design border border-1 ms-1 border-white rounded-0 mt-5"></div>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
              <img src="../../assets/images/pexels-photo-5158215.jpeg" class="d-block w-100 px-5 pb-1" height="730px"
                alt="...">
              <div class="carousel-caption ">
                <h1 class="carousel-caption-content">Trendiest <span class="text-warning">Collections</span></h1>
                <h6 class="carousel-text-content mt-2">Stay on Top of the Fashion Game with Exciting Offers<br> and Sale
                  every Week</h6>
                <button class="btn btn-white rounded-0 carousel-content-btn text-dark mt-3">Shop Now <i
                    class="fa fa-arrow-right"></i></button>
                <div class="carousel-btn-design border border-1 ms-1 border-white rounded-0 mt-5"></div>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
              <img src="../../assets/images/pexels-photo-5452196.jpeg"
                class="d-block w-100 px-5 pb-1 filter-brightness-50" height="730px" alt="...">
              <div class="carousel-caption-slide3">
                <h1 class="carousel-caption-content">Comfort for <br><span class="text-primary">Frontline workers</span>
                </h1>
                <h6 class="carousel-text-content mt-2">Footwear Designed for Maximum Comfort during<br> Long Working
                  Hours.</h6>
                <h6 class="carousel-text-content mt-3 fw-normal font-monospace">GRIP | BREATHABILITY | AIRFLOW</h6>
                <button class="btn btn-white rounded-0 carousel-content-btn text-dark mt-3">Shop Now <i
                    class="fa fa-arrow-right"></i></button>
                <div class="carousel-btn-design border border-1 ms-1 border-white rounded-0 mt-5"></div>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselControl" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselControl" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  <div class="container w-100 my-5">
    <div class="row w-100 mb-2">
      <div class="col-4 offset-4">
        <h4 class="header-content text-center">Popular Right Now</h4>
      </div>
    </div>
    <div class="row w-100 mt-3">
      <div class="col-10 offset-1">
        <div class="d-flex justify-content-center">
          <button class="btn btn-white border border-1 border-dark rounded-0 button-text fw-lighter mx-1">Jackets and
            Tracksuits</button>
          <button class="btn btn-white border border-1 border-dark rounded-0 button-text mx-1">face covers</button>
          <button class="btn btn-white border border-1 border-dark rounded-0 button-text mx-1">ethos orignals</button>
          <button class="btn btn-white border border-1 border-dark rounded-0 button-text mx-1">ethos vogue</button>
          <button class="btn btn-white border border-1 border-dark rounded-0 button-text mx-1">football boost</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container w-100" style="height: 800px">
    <div class="row w-100 h-100 mx-0">
      <div class="col-12 px-0 h-100">
        <video class="w-100 h-100 filter-brightness-110" loop muted autoplay oncanplay="this.play()"
          onloadedmetadata="this.muted = true">
          <source src="https://ethosv1.s3.us-east-2.amazonaws.com/pexels-rodnae-productions-8735692.mp4"
            type="video/mp4">
        </video>
        <div class="overlay-div">
          <div class="me-5">
            <h1 class="carousel-caption-content text-primary">say hello to<span
                class="text-dark ps-3 pe-2 py-0 border-end border-2 border-dark">ethos</span><span
                class="text-dark ps-2 lh-1 font-gfs-didot">vogue</span></h1>
            <h6 class="carousel-text-content mt-3 text-uppercase fst-normal">Top Picks from Ethos featured in Vogue
              fashion week 2021.</h6>
          </div>
          <div>
            <button class="btn btn-dark rounded-0 carousel-content-btn text-white mt-3">Shop Now <i
                class="fa fa-arrow-right"></i></button>
            <div class="carousel-btn-design border border-1 ms-1 border-dark rounded-0 mt-5"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container w-100">
    <div class="my-5">
      <div class="row w-100 mb-2">
        <div class="col-5">
          <h4 class="header-content ps-1 text-start">Who are you shopping for?</h4>
        </div>
      </div>
      <div class="row mt-3 mx-0">
        <div class="col">

          <div class="card men-card border-0 " style="height: 300px;">
            <div class="card-body">
              <a href="#" routerLink="../listing/Men" class="text-decoration-none carousel-caption-content title text-white stretched-link">MEN</a>
            </div>
          </div>

        </div>
        <div class="col">

          <div class="card women-card border-0 " style="height: 300px;">
            <div class="card-body">
              <a href="#" routerLink="../listing/Women"
                class="text-decoration-none carousel-caption-content title text-white stretched-link">WOMEN</a>
            </div>
          </div>

        </div>
        <div class="col">

          <div class="card kids-card border-0 " style="height: 300px;">
            <div class="card-body">
              <a href="#" routerLink="../listing/Kids" class="text-decoration-none carousel-caption-content title text-white stretched-link">Kids</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="container w-100 my-5">
    <div class="my-5">
      <div class="row w-100 mb-2">
        <div class="col-5">
          <h4 class="header-content ps-1 text-start">what's hot</h4>
        </div>
      </div>
      <div class="row w-100 mt-3 mx-0">
        <div class="col px-1" *ngFor="let p of product">
          <div class="d-flex justify-content-center w-100">
            <div class="card" style="height: 430px;">
              <img [src]="p.image" class="card-img-top" alt="">
              <div class="card-body">
                <div class="container-fluid px-0">
                  <div class="row px-0">
                    <div class="col-12 px-1" style="height: 50px;">
                      <h6 class="prod-card-title text-uppercase">{{p.name}}</h6>
                    </div>
                  </div>
                  <div class="row px-0">
                    <div class="col-12 px-1" style="height: 80px;">
                      <p class="text-dark card-content">{{p.caption}}</p>
                    </div>
                  </div>
                  <div class="row px-0">
                    <div class="col-12 px-1 align-self-end">
                      <a (click)='showProduct(p.id)' class="text-dark text-decoration-underline shopnow-link text-uppercase mb-1">Shop
                        Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="abtus w-100 mt-5">
    <div class="container w-100 py-5">
      <div class="row w-100 mx-0">
        <div class="col-4 offset-1 d-flex justify-content-start">
          <p class="abtus-heading">STORIES, STYLES AND SPORTSWEAR AT ETHOS</p>
        </div>
        <div class="col-4 offset-2 d-flex justify-content-start">
          <p class="abtus-heading">WORKOUT CLOTHES, FOR ANY SPORT</p>
        </div>
      </div>
      <div class="row w-100 mx-0">
        <div class="col-4 offset-1 d-flex justify-content-start">
          <p class="abtus-content text-break text-wrap">Sport keeps us fit. Keeps you mindful. Brings us together.
            Through sport we have the power to change lives. Whether it is through stories of inspiring athletes.
            Helping you to get up and get moving. Sportswear featuring the latest technologies, to up your performance.
            Beat your PB. adidas offers a home to the runner, the basketball player, the soccer kid, the fitness
            enthusiast. The weekend hiker that loves to escape the city. The yoga teacher that spreads the moves. The
            3-Stripes are seen in the music scene. On stage, at festivals. Our sports clothing keeps you focused before
            that whistle blows. During the race. And at the finish lines. We’re here to support creators. Improve their
            game. Their lives. And change the world.</p>
        </div>
        <div class="col-4 offset-2 d-flex justify-content-start">
          <p class="abtus-content">ethos designs for and with athletes of all kinds. Creators, who love to change the
            game. Challenge conventions. Break the rules and define new ones. Then break them again. We supply teams and
            individuals with athletic clothing pre-match. To stay focussed. We design sports apparel that get you to the
            finish line. To win the match. We support women, with bras and tights made for purpose. From low to high
            support. Maximum comfort. We design, innovate and itterate. Testing new technologies in action. On the
            pitch, the tracks, the court, the pool. Retro workout clothes inspire new streetwear essentials. Like NMD,
            Ozweego and our Firebird tracksuits. Classic sports models are brought back to life. Like Stan Smith. And
            Superstar. Now seen on the streets and the stages.</p>
        </div>
      </div>
      <div class="row w-100 mx-0">
        <div class="col-4 offset-1 d-flex justify-content-start">
          <p class="abtus-content text-break text-wrap">ethos is about more than sportswear and workout clothes. We
            partner with the best in the industry to co-create. This way we offer our fans the sports apparel and style
            that match their athletic needs, while keeping sustainability in mind. We’re here to support creators.
            Improve their game. Create change. And we think about the impact we have on our world.</p>
        </div>
        <div class="col-4 offset-2 d-flex justify-content-start">
          <p class="abtus-content">Through our collections we blur the borders between high fashion and high
            performance. Like our adidas by Stella McCartney athletic clothing collection – designed to look the part
            inside and outside of the gym. Or some of our adidas Originals lifestyle pieces, that can be worn as
            sportswear too. Our lives are constantly changing. Becoming more and more versatile. And adidas designs with
            that in mind.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="offer-div" *ngIf="!(loginStatus.getFromStorage('loginState') === '' ? false : true)">
    <div class="container w-100 pt-4 pb-3">
      <div class="row w-100 mx-0">
        <div class="col-4 offset-2 d-flex justify-content-start">
          <p class="offer-banner">join ethos and get 15% off</p>
        </div>
        <div class="col-3 d-flex justify-content-start">
          <button class="btn btn-dark rounded-0 carousel-content-btn text-white">Shop Now <i
              class="fa fa-arrow-right"></i></button>
          <div class="carousel-btn-design offer-btn-design border border-1 ms-1 border-dark rounded-0 mt-5"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="pre-footer">
    <div class="container w-100 pt-4 pb-4">
      <div class="row w-100 mx-0">
        <div class="col offset-1 text-dark">
          <p class="footer-category-head">Products</p>
        </div>
        <div class="col">
          <p class="footer-category-head">Sports</p>
        </div>
        <div class="col">
          <p class="footer-category-head">Collection</p>
        </div>
        <div class="col">
          <p class="footer-category-head">Support</p>
        </div>
      </div>
      <div class="row w-100 mx-0 text-muted">
        <div class="col offset-1">
          <ul class="list-unstyled footer-nav-list">
            <li>Footwear</li>
            <li>Clothing</li>
            <li>Accessories</li>
          </ul>
        </div>
        <div class="col">
          <ul class="list-unstyled footer-nav-list">
            <li>Running</li>
            <li>Football</li>
            <li>Gym/Training</li>
            <li>Tennis</li>
            <li>Outdoor</li>
            <li>Basketball</li>
            <li>Swimming</li>
          </ul>
        </div>
        <div class="col">
          <ul class="list-unstyled footer-nav-list">
            <li>Ultraboost</li>
            <li>Superstart</li>
            <li>NMD</li>
            <li>Stan Smith</li>
            <li>Sustainability</li>
            <li>Predator</li>
            <li>Parley</li>
            <li>adicolor</li>
          </ul>
        </div>
        <div class="col">
          <ul class="list-unstyled footer-nav-list">
            <li>Help</li>
            <li>Customer Serevices</li>
            <li>Returns & Exchanges</li>
            <li>Shipping</li>
            <li>Order Tracker</li>
            <li>Terms & Conditions</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer w-100">
    <div class="container w-100">
      <div class="row w-100 mx-0">
        <div class="col-4">
          <p class="footer-content-text mt-3 ps-3"><span class="copyright-icon">&#169;</span> 2021 ethos India Marketing
            Pvt. Ltd</p>
        </div>
        <div class="col-5 offset-3 d-flex justify-content-end">
          <p class="footer-content-text mt-3 text-monospace"><a class="text-decoration-none footer-content-text"
              href="#">Privacy Policy</a> | <a class="text-decoration-none footer-content-text" href="#">Terms and
              Conditions</a> | <a class="text-decoration-none footer-content-text" href="#">Cookies</a></p>
        </div>
      </div>
    </div>
  </div>
</div>